<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Découvrez des opportunités pour votre nouvelle maison</title>
</head>
<body>
<p>Cher <span th:text="${prospectName}"></span>,</p>

<p>J'espère que ce message vous trouve bien. En tant qu'agent immobilier, je suis toujours à l'affût d'opportunités
    exceptionnelles pour mes clients, et après avoir revu vos critères de recherche, je suis convaincu que nous
    pourrions
    identifier la maison parfaite pour vous.</p>

<p>Au cours de nos discussions précédentes, nous avons défini des critères essentiels pour votre future maison. Fort de
    ces informations, j'ai entrepris une recherche approfondie pour dénicher des propriétés qui correspondent à vos
    attentes.</p>

<p>Actuellement, le marché immobilier offre des opportunités intéressantes, et je serais ravi de discuter de ces options
    avec vous. Que ce soit pour explorer de nouveaux quartiers, trouver une maison plus spacieuse ou répondre à d'autres
    besoins spécifiques, je suis là pour vous aider à concrétiser votre projet immobilier.</p>

<p>Si vous êtes ouvert à une discussion plus approfondie ou à visiter des propriétés potentielles, faites-moi savoir vos
    disponibilités. Mon objectif est de simplifier le processus pour vous et de m'assurer que chaque étape correspond à
    vos attentes.</p>

<p>N'hésitez pas à me contacter pour planifier une conversation ou une visite. Je suis là pour répondre à toutes vos
    questions et vous assister dans la recherche de votre nouvelle maison.</p>

<p>Je vous remercie de votre confiance, et je suis impatient de vous accompagner dans cette aventure passionnante.</p>

<p>Cordialement,<br>
    <span th:text="${name}"></span><br>
    <span th:text="${contact}"></span></p>
</body>
</html>
</title>
</head>
<body>

</body>
</html>