<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suivi de votre projet immobilier imminent</title>
</head>
<body>
<p>Cher <span th:text="${prospectName}"></span>,</p>

<p>J'espère que ce message vous trouve en pleine forme. Je me permets de vous contacter au sujet du projet immobilier
    que nous avons discuté précédemment. J'espère que vous progressez bien dans vos réflexions et que vous êtes
    enthousiaste à l'approche de concrétiser votre projet.</p>

<p>En tant qu'agent immobilier, mon objectif premier est de vous accompagner tout au long de ce processus et de
    m'assurer que vous disposez de toutes les informations nécessaires pour prendre des décisions éclairées. Afin de
    garantir le succès de votre projet, je suis là pour répondre à toutes vos questions, discuter des éventuels
    ajustements à apporter à vos critères de recherche et vous présenter de nouvelles opportunités qui pourraient
    correspondre à vos attentes.</p>

<p>Si vous avez récemment effectué des changements dans vos préférences ou si des éléments spécifiques ont émergé depuis
    notre dernière conversation, je serais ravi de les prendre en compte.</p>

<p>Mon engagement est de vous offrir un service personnalisé et de vous guider vers la meilleure solution en fonction de
    vos besoins.</p>

<p>N'hésitez pas à me faire part de vos disponibilités pour un entretien téléphonique ou une rencontre en personne. Je
    suis flexible et prêt à m'adapter à votre emploi du temps.</p>

<p>Je reste à votre entière disposition pour toute question ou préoccupation. Merci de me faire part de l'avancement de
    votre projet, et je me réjouis à l'idée de collaborer avec vous pour faire de votre rêve immobilier une réalité.</p>

<p>Cordialement,<br>
    <span th:text="${name}"></span><br>
    <span th:text="${contact}"></span></p>
</body>
</html>
